.accomodations-header {
    text-align: center;
}

.accomodations-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 80px 80px 20px 80px;
}

.see-all-cities {
    margin-bottom: 80px;
    text-align: center;
}